<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
  <script src='/javascripts/jquery-3.1.1.min.js'></script>
	<script src='/javascripts/semantic.min.js'></script>
   </head>
  <body>
  <% include templates/nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
